*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 15px;
}
main{
    
    display: grid;
    place-items: center;
    padding: 10px;
}
.container
{
    text-align: center;
    width: 100%;
}
.container h2{
    
    color: rgb(247, 89, 89);
    padding: 20px;
    margin-bottom: 20px;
}
.btn-main{
    background: transparent;
    color: #222;
    display: inline-block;
    border: 2px solid #222;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;

}
.btn-main:hover{
    color: #fff;
    background: #222;
}
/* Style the buttons that are used to open and close the accordion panel */
.acc-group
{
    width: 100%;
    display: block;
    padding-bottom: 10px;
}
.question-btn {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border: 1px solid rgb(240 206 206);
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .question-btn:hover {
    background-color: rgb(240 206 206);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border: 1px solid rgb(240 206 206);
    border-top: none;
  }
  